.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 7px 12px 0 14px;
  background-color: var(--main-green-color);
  color: var(--main-white-color);
  border-radius: 5px;
}
.header > a {
  color: var(--main-white-color);
}
.header_logo {
  margin: 24px 133px 23px 14px;
}
.header_btn_request_call {
  display: none;
}
.header_btn_request_call:ho .header_contacts {
  display: none;
}
.header_entrance-registration {
  display: none;
  padding-right: 10px;
}
.header__hidden {
  display: none;
}

@media screen and (min-width: 768px) {
  .header {
    min-width: 724px;
    min-height: 93px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    min-width: 961px;
    min-height: 86px;
  }
  .header__hidden {
    display: flex;
    align-items: center;
  }
  .header_navigation_btn {
    display: none;
  }
  .header_contacts {
    display: initial;
  }
  .header_btn_request_call {
    display: initial;
    width: 170px;
    height: 40px;
    background-color: var(--main-green-color);
    color: var(--main-white-color);
    border: 2px solid var(--main-white-color);
    border-radius: 5px;
  }
  .header_entrance-registration {
    display: initial;
  }
  .header_user_icon {
    margin-left: 45%;
    margin-bottom: 5px;
  }
  .header_entrance-registration_line {
    display: block;
    text-transform: uppercase;
  }
  .header_entrance-registration_line,
  a {
    color: inherit;
  }
}

@media screen and (min-width: 1336px) {
  .header {
    min-width: 1170px;
    min-height: 101px;
  }
  .header_btn_request_call {
    width: 200px;
    height: 47px;
  }
}

@media screen and (min-width: 1920px) {
  .header {
    min-width: 1663px;
    min-height: 142px;
  }
  .header_btn_request_call {
    width: 284px;
    height: 67px;
  }
}


/*Изменить размеры лого